{% extends "network/layout.html" %}

{% block body %}
<div id="content-all-posts" class="content">
    <h1>All Posts</h1>
    {% if user.is_authenticated %}
    <div class="card" id="new-post-card">
        <form id="create-post-form">
            <h5>New Post</h5>
            <textarea name="body" id="new-post-body"></textarea>
            <input class="btn btn-primary" type="submit" id="post-btn" value="Post" disabled>
        </form>
    </div>
    <div id="posts-list">

    </div>
    <hr>
    {% endif %}
</div>

<div id="content-following" class="content" hidden>
    <h1>Following</h1>
    <div class="card">following</div>
</div>
{% endblock %}