{% extends "network/layout.html" %}

{% block body %}
<div id="content-posts" class="content">
    <h1 id="posts-title">All Posts</h1>
    {% if user.is_authenticated %}
    <div class="card" id="new-post-card">
        <form id="create-post-form">
            <h5>New Post</h5>
            <textarea name="body" id="new-post-body"></textarea>
            <input class="btn btn-primary" type="submit" id="post-btn" value="Post" disabled>
        </form>
    </div>

    {% endif %}
    <div id="profile-card" hidden>
        Profile
    </div>

    <div id="posts-list">
    </div>

    <hr>

    <nav aria-label="..." id="pagination-container">
    </nav>

</div>

{% endblock %}